%h1 Listing Test Case

%table
  %tr
    %th Account
    %th Name
    %th
    %th
    %th

  - @test_cases.each do |test_case|
    %tr
      %td= test_case.account.name
      %td= test_case.name
      %td= link_to 'Show', test_case
      %td= link_to 'Edit', edit_test_case_path(test_case)
      %td= link_to 'Destroy', test_case, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Test Case', new_test_case_path
