!!! XML
!!!
%html
  %head
    %title
    = raw stylesheet_link_merged('screen', :media => 'screen, projection')
    = raw stylesheet_link_merged('print', :media => 'print')
    /[if lt IE 8]
      = raw stylesheet_link_merged('ie', :media => 'screen, projection')
    = csrf_meta_tag
  %body
    #container
      #header
        %h1.title Mustard - A Sauce Test Runner
      #sidebar
        %ul
          %li=link_to 'targets', targets_path
          %li=link_to 'accounts', accounts_path
          %li=link_to 'test cases', test_cases_path
      #content
        - if notice
          %p.notice=notice
        -if alert
          %p.notice=alert
        = yield
      #footer

    %script{ :type => "text/javascript", :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" }
    %script{ :type => "text/javascript", :src => "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js" }
    = raw javascript_include_merged(:base)
