= form_for @account do |f|
  -if @account.errors.any?
    #errorExplanation
      %h2= "#{pluralize(@account.errors.count, "error")} prohibited this account from being saved:"
      %ul
        - @account.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :username
    = f.text_field :username
  .field
    = f.label :access_key
    = f.text_field :access_key
  .field
    = f.label :base_url
    = f.text_field :base_url
  .field
    = f.label :timeout
    = f.text_field :timeout
  .field
    = f.label :host
    = f.text_field :host
  .field
    = f.label :port
    = f.text_field :port
  .actions
    = f.submit 'Save'
